**/bin/
**/obj/
*.tmp
*.log
*.pdb
*.cache
*.user
*.suo
*.userosscache
*.sln.docstates
**/BDD_Tests/bin/
**/BDD_Tests/obj/
**/Moq_Tests/bin/
**/Moq_Tests/obj/
**/Nunit_Tests/obj/
.vscode/
.idea/
wwwroot/
node_modules/
appsettings*.json
bin/Debug/net9.0/Azure.Core.dll
bin/Debug/net9.0/Azure.Identity.dll
bin/Debug/net9.0/*.dll
bin/Debug/net9.0/*/Humanizer.resources.dll
*.nupkg
*.snupkg
bin/Debug/net9.0/appsettings.json