@{
    ViewData["Title"] = "About";
}
<section class="main about">
    <div class="container aboutUsContainer aboutUsContainer1">
        <div class="row aboutUsRow aboutUsRow1">
            <h1 class="aboutUsHeader">About Us</h1>
        </div>
    </div>
    <br>
    <div class="container aboutUsContainer aboutUsContainer2">
        <div class="row aboutUsRow aboutUsRow2">
            <div class="col-md-12">
                <h2 class="aboutUsSubheader">Deep Blue</h2>
                <p class="aboutUsText">
                    Inspired by the legendary supercomputer, Deep Blue, our team embodies the spirit of relentless learning and
                    continuous improvement. Just as Deep Blue revolutionized its field by adapting, analyzing, and pushing
                    boundaries, we strive to tackle challenges with the same innovative mindset. We aim to learn from every
                    experience, evolve through collaboration, and persevere until we achieve our goals. Every move counts.
                    <br><br>
                    This project will serve as our senior capstone Sequence CS 460, 461, 462 at Western Oregon University, and demonstrate our capabilities in programming, web app
                    development, and design.
                    <br><br>
                    Check out our repository <a href="https://github.com/rausches/deep-blue-repo">here</a>.
                </p>
            </div>
        </div>
    </div>
    <br>
        <hr class="halfHr">
    <br>
    <div class="container aboutUsContainer aboutUsContainer3">
        <div class="row aboutUsRow aboutUsRow3">
            <h3 class="aboutUsSubheader">Who we are</h3>
            <div class="col-md-3 aboutUsTextPro">
                <img src="~/images/Andrea.png" width="100%">
                <p class="aboutUsText"><strong>Andrea Betun Jacho</strong></p>
                <p class="aboutUsText">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.
                </p>
                <a href="https://github.com/Ajacho/deep-blue-repo" class="aboutUsText">Github</a> | <a href="https://www.linkedin.com/in/abjacho/" class="aboutUsText">LinkedIn</a>
            </div>
            <div class="col-md-3 aboutUsTextPro">
                <img src="~/images/Lexy.png" width="100%">
                <p class="aboutUsText"><strong>Lexy Ramos</strong></p>
                <p class="aboutUsText">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.
                </p>
                <a href="https://github.com/Momkage-Lexy/deep-blue" class="aboutUsText">Github</a> | <a href="https://www.linkedin.com/in/lexy-ramos-a7449a104/" class="aboutUsText">LinkedIn</a>
            </div>
            <div class="col-md-3 aboutUsTextPro">
                <img src="~/images/Sagan.png" width="100%">
                <p class="aboutUsText"><strong>Sagan Rausches</strong></p>
                <p class="aboutUsText">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.
                </p>
                <a href="https://github.com/rausches/deep-blue-repo" class="aboutUsText">Github</a> | <a href="https://www.linkedin.com/in/sagan-rauscher-78b26b161/" class="aboutUsText">LinkedIn</a>
            </div>
            <div class="col-md-3 aboutUsTextPro">
                <img src="~/images/Stevie.png" width="100%">
                <p class="aboutUsText"><strong>Stevie Trapero</strong></p>
                <p class="aboutUsText">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.
                </p>
                <a href="https://github.com/stevetraps/deep-blue-repo" class="aboutUsText">Github</a> | <a href="" class="aboutUsText">LinkedIn</a>
            </div>
        </div>
    </div>
    <br><br>
        <hr class="halfHr">
    <br><br>
    <div class="container aboutUsContainer aboutUsContainer4">
        <div class="row aboutUsRow aboutUsRow4 g-4">
            <div class="col-md-6 visionLeft">
                <h3 class="aboutUsSubheader">Our Vision</h3>
                <p class="aboutUsText">
                    Our vision is to create an inclusive digital culture where everyone—whether a developer, business owner, or designer—can contribute to making websites accessible, inclusive, and equitable. With 'UX Checkmate,' we make it easy for anyone to improve their websites by simply inserting a web link. Our tool helps identify areas for accessibility enhancement, offering actionable suggestions and visual mockups to guide improvements. As technology continues to advance, we aim to bridge the gap for those without technical experience, ensuring that every user, regardless of their abilities, can navigate and engage with the web seamlessly. By fostering collaboration and inclusion, we strive to make the digital world accessible to all, building a future where no one is left behind.
                </p>
            </div>
            <div class="col-md-6 visionRight">
                <h3 class="aboutUsSubheader">UxCheckmate</h3>
                <p class="aboutUsText"></p>
                <p class="aboutUsText">Features:</p>
                <ul class="aboutUsText">
                    <li>
                        Report Generation
                        <ul>
                            <li>
                                Design Audit
                            </li>
                            <li>
                                Accessibility Audit
                            </li>
                            <li>
                                AI Optimized feedback
                            </li>
                        </ul>
                    </li>
                    <li>
                        User Dashboard
                        <ul>
                            <li>
                                Save reports in app
                            </li>
                            <li>
                                Export to Jira
                            </li>
                        </ul>
                    </li>
                    <li>
                        Admin Dashboard
                        <ul>
                            <li>
                                Manage user reports and accounts
                            </li>
                        </ul>
                    </li>
                </ul>
                <h3 class="aboutUsSubheader">Tools</h3>
                <img src="~/images/playwright-logo-tiny.png" alt="Playwright" width="10%">
                <img src="~/images/openai-logo-tiny.png" alt="OpenAI" width="10%">
                <img src="~/images/axe-logo-tiny.png" alt="AxeCore" width="10%">
                <img src="~/images/azure-logo-tiny.png" alt="Azure" width="10%">
            </div>
        </div>
    </div>
</section>