@{
    ViewData["Title"] = "Disclosure";
}

<div class="text-center">
    <h1 class="display-4">Disclosure</h1>
</div>
<div class="container service-container">
    <div class="row service-header" id="analysis"><h2>Analysis</h2></div>
    <div class="row service-row">
        <div class="col-md-6 service-name" id="openAi">
            <img src="~/images/OpenAI_Logo.png" alt="OpenAI Logo" class="logo" width="100px">
            <h3 class="service-heading-title">OpenAI</h3>
            <p class="service-description">We use OpenAI’s API to analyze website content and generate UX improvement recommendations. This service helps identify areas where usability, accessibility, and design can be enhanced.</p>
        </div>
        <div class="col-md-6 service-name" id="pa11y">
            <img src="~/images/Pa11y_Logo.png" alt="Pa11y Logo" class="logo" width="100px">
            <h3 class="service-heading-title">Pa11y</h3>
            <p class="service-description">Pa11y is an automated accessibility testing tool that evaluates websites against WCAG standards. We use it to identify accessibility issues, ensuring compliance with best practices.</p>
        </div>
    </div>
    <div class="row service-header" id="Scraping"><h2 class="service-header">Scraping</h2></div>
    <div class="row service-row">
        <div class="col-md-6 service-name" id="htmlAgility">
            <img src="~/images/HtmlAgility_Logo.png" alt="HtmlAgilityPack Logo" class="logo" width="125px">
            <h3 class="service-heading-title">HtmlAgilityPack</h3>
            <p class="service-description">HtmlAgilityPack is used for parsing and extracting information from static HTML pages. It helps us analyze website structure when JavaScript rendering is not required.</p>
        </div>
        <div class="col-md-6 service-name" id="selenium">   
            <img src="~/images/Selenium_logo.png" alt="Selenium Logo" class="logo" width="100px">         
            <h3 class="service-heading-title">Selenium</h3>
            <p class="service-description">Selenium allows us to scrape and analyze websites with dynamic JavaScript content. It simulates browser interactions to access elements that static parsers cannot reach.</p>
        </div>
    </div>
</div>
