@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<section class="main full-screen">
    <div class="container scanContainer d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-5 text-center">
            <img src="~/images/uxCheckmateLogo.png" alt="UxCheckmate Logo" class="img-fluid mb-4" style="max-height: 100px;" />

            <h1 class="mb-3">Create Account</h1>
            <p class="mb-4">Sign up and start improving your UX.</p>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <input type="hidden" asp-for="ReportId" />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="btn btn-dark">Register</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
